/* self define global variables */
:root{

}

/* global primary setting */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav style design  */
nav{
    background-color: red;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 80px;
    margin: 0 auto;

}
nav > ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

